
@{
    ViewBag.Title = "ExistingVehicleType";
}

<h2>You have an existing permit for this vehicle type</h2>
<br />
<div>
    Please vist the office of security to obtain your new parking permit.

    <br />

    Bring your student ID card with you.

    <br />

    For more information, please contact the Office of Security at 419-434-4799
</div>

