
@{
    ViewBag.Title = "Index";
}

<h2>Parking Permit Security Administration</h2>


@Html.ActionLink("Change Password", "ChangeItsAdminPassword", "ItsAdmin");
<br />
<br />
@Html.ActionLink("Manage Student Registration", "ManageStudentRegistration", "SecureAdminStudent");
<br/>
<br/>
<br />
@Html.ActionLink("Manage Fac/Staff Registation", "ManageFacStaffRegistration", "SecureAdminFacStaff");
<br />
