
@{
    ViewBag.Title = "Index";
}

<h2>Parking Permit Administration</h2>


@Html.ActionLink("Change Password", "ChangeItsAdminPassword", "ItsAdmin");
<br />
<br/>
@Html.ActionLink("Manage ITS Administrators", "ShowItsAdministrators", "ItsAdmin");
<br />
<br />
@Html.ActionLink("Manage Security Administrators", "ShowSecurityAdministrators", "ItsAdmin");
<br/>
