
@{
    ViewBag.Title = "RegistrationComplete";
}

<h2>Thank You for Registering Your Vehicle</h2>

<br />
<div>
    Thank your for registering online for your parking permint. You will be able to pick up your parking permit tag
    immediately at the Office of Security located in Lovett Residence Hall on campus.
    <br />
    Bring your student ID car with you.
    <br />
    For more information, please contact the Office of Security at 419-434-4799
</div>


